body{
    font-family: 'Times New Roman', Times, serif;
   background-image:url( https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIbEXc4O9f2fV9xcfJFiv9xBtWdneEnX7_AQ&usqp=CAU);
}
#nav-bar{
    width:100%;
    font-size:20px;
    font-family: 'Algerian','Cambria','Helvetica';
    position:fixed;
    background-color: rgba(61,12,2,0.8);
    margin-top: 5px ;
  }
  nav ul{
    align-items: center;
    margin: 0px;
    padding: 10px 40px 10px 40px;
    color: #954535;
  }
  nav li{
    display:inline;
    list-style:none;
    margin-right:100px;
    padding-left: 40px;
    padding-right:20px;
   
  }
  nav a{
    text-decoration: none;
    color: #f7e7ce  ;
  }
  .intro{
    padding-left:20px;
    padding-right:20px;
    padding-top:35px;
    background-color: rgba(250,214,165,0.7) ;
    width:55%;
    height:74%;
    margin-top: 180px;
    margin-left:25%;
    position: static;
    display:inline-block;
    text-align: center;
  }
  .details
  {
    position: static;
    display:block;
  }
   h1{
    font-family: 'Brush Script MT', cursive;
    font-size:50px;
  } 
  p{
    font-family: 'Courier New', monospace;
    font-size:20px;
  }
  #projects{
    position:static;
  }
    #projects a{
    text-decoration:none;
    font-size:20px;
  }
  #projects a:link{
    color:#6f4e37;
  }
  #projects a:visited{
    color:#954535 ;
  }
  .photo{
    height:160px;
    width:140px;
    margin-top:-35px;
    border-radius: 4px;
    border-color: brown;
    border-width:2px;
    padding-bottom:15px;
  }
  #gallery img{
    display:inline-block;
    height:350px;
    width:300px;
    padding:20px;
  }
  .cont{
    height:50px;
    width:50px;
    padding-left:60px;
  }
  .intro p{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 60px;
  }